{# app/Resources/views/job/job.html.twig #}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Jobs</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Jobs</h2> 
  
  <p>Opciók:</p>     
  <a href="job/job_select">Listázás</a> 
  <a href="job/job_new">Új adat bevétel</a>
  <a href="job_update.html.twig">Listázás</a>
  <a href="job/job_search">keresés</a>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>id</th>
        <th>job</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

</body>
</html>
